
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
    margin: auto;
    background-color: #E9ECEF;
    border-width: 1px;
    border-color: #CED4DA;
}

.card.bg-info {
  background-color: #91cdd6 !important;
  color: black !important;
}

.card.bg-success {
  background-color: #91d8a1 !important;
  color: black !important;
}

.card.bg-secondary {
  background-color: #adb5bd !important;
  color: black !important;
}

.card.bg-dark {
  background-color: #646b72 !important;
  color: white !important;
}

.card.child {
  background-color: #eee !important;
}

.card.bg-info .card.bg-info {
  background-color: #7cb6bf !important;
}

.card.bg-dark .card.bg-dark {
  background-color: #565b60 !important;
}

.card.bg-dark .card.bg-dark .card.bg-dark {
  background-color: #4b4f54 !important;
}

.dropdown-item {
  cursor: pointer;
}

.code {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-tab-size: 4;
}

textarea {
  min-height: 37.6px;
}

textarea.invalid {
  border-color: red !important;
}

textarea.invalid:focus {
  box-shadow: 0 0 0 .2rem rgba(255,0,0,.25) !important;
}

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

#source {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}
