* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #ffffff;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 56px;
  border-bottom: 2px #ccc solid;
  color: #343a40
}

.header-title {
  display: flex;
  align-items: flex-start;
}

.header-title h2 {
  margin-right: 10px;
}

.header-title .model-selector {
  padding: 2px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  fill: #343a40;
  cursor: pointer;
  margin: 0 16px;
  user-select: none;
}

.nav-item:hover {
  fill: #565d64;
}

.nav-item .inactive {
  display: none;
}

.nav-item span {
  font-size: 1.1em;
}

.nav-item#github-link {
  fill: #9fa2a7
}

.nav-item#github-link:hover {
  fill: #bcbfc3
}

.nav-item#source-toggle {
  display: none;
}

.nav-selector {
  position: relative;
}

.nav-selector-menu {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  z-index: 10;
  border-radius: 3px;
  background-color: #ffffff83;
}

.content {
  display: flex;
  height: calc(100vh - 56px);
  overflow-y: hidden;
}

.tree {
  padding: 1rem;
  overflow-y: auto;
}

.source textarea {
  width: 100%;
  height: calc(100vh - 56px);
  padding: 1.3rem 0.4rem;
  border: none;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-tab-size: 4;
  outline: none;
}

.source textarea::selection {
  background-color: rgba(103, 134, 221, 0.6);
}

.source-controls {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 17px;
  top: 56px;
  padding: 5px;
}

.source-controls .btn:not(:first-child) {
  margin-right: 5px;
}

.source-controls-menu {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  right: 17px;
  top: 93px;
  padding: 5px;
}

.gutter.gutter-horizontal {
  border-left: 2px solid #ccc;
  float: left;
  cursor: ew-resize;
}

.btn {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  fill: #ffffff;
  background-color: #1f2020a6;
  padding: 7px 11px;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.btn.check {
  fill: #a5e77a;
  color: #a5e77a;
}

.btn.selected {
  fill: #a5e77a;
  color: #a5e77a;
}

.btn svg:not(:last-child) {
  margin-right: 5px;
}

.btn:hover {
  background-color: #5d5f5fa6;
}

.btn-group .btn:not(:last-child) {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-group .btn:not(:first-child) {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

@media screen and (max-width: 560px) {
  body {
    overflow-y: hidden;
  }

  .header {
    flex-direction: column;
    height: 92px;
  }

  .nav {
    align-self: flex-end;
  }

  .content,
  .source textarea {
    height: calc(100vh - 92px);
  }

  .source,
  .gutter.gutter-horizontal {
    display: none;
  }

  .tree {
    width: 100% !important;
    height: 100%;
  }

  .nav-item#source-toggle {
    display: flex;
    position: absolute;
    left: 10px;
  }

  .source.toggled {
    display: initial;
    position: absolute;
    width: 100% !important;
    height: 100%;
    z-index: 5;
  }

  .source.toggled .source-controls {
    right: 17px;
    top: 0px;
  }

  .source.toggled .source-controls-menu {
    right: 17px;
    top: 37px;
  }

  .nav-selector-menu {
    right: 0;
    left: initial;
  }
}
