:root {
	--background-1: #1b1b1b;
	--background-2: #252525;
	--background-3: #3d3d3d;
	--background-4: #464646;
	--text-1: #ffffff;
	--text-2: #dcdcdc;
	--text-3: #c3c3c3;
	--accent-blue: #50baf9;
	--accent-red: #f1453f;
	--nav: #91908f;
	--nav-hover: #b4b3b0;
	--nav-faded: #4d4c4c;
	--nav-faded-hover: #6e6e6e;
	--selection: #6786dd99;
	--errors-background: #62190f;
	--errors-text: #ffffffcc;
}

:root[data-theme=light] {
	--background-1: #fafafa;
	--background-2: #e2e2e2;
	--background-3: #cccccc;
	--background-4: #d6d6d6;
	--text-1: #000000;
	--text-2: #505050;
	--text-3: #6a6a6a;
	--accent-blue: #088cdb;
	--accent-red: #cc312c;
	--nav: #343a40;
	--nav-hover: #565d64;
	--nav-faded: #9fa2a7;
	--nav-faded-hover: #bcbfc3;
	--selection: #6786dd99;
	--errors-background: #f66653;
	--errors-text: #000000cc;
}

@media (prefers-color-scheme: light) {
	:root[data-theme=system] {
		--background-1: #fafafa;
		--background-2: #e2e2e2;
		--background-3: #cccccc;
		--background-4: #d6d6d6;
		--text-1: #000000;
		--text-2: #505050;
		--text-3: #6a6a6a;
		--accent-blue: #088cdb;
		--accent-red: #cc312c;
		--nav: #343a40;
		--nav-hover: #565d64;
		--nav-faded: #9fa2a7;
		--nav-faded-hover: #bcbfc3;
		--selection: #6786dd99;
		--errors-background: #f66653;
		--errors-text: #000000cc;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::selection {
	background-color: var(--selection);
}

a svg {
	pointer-events: none;
}

body {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	background-color: var(--background-1);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: 100%;
	height: 56px;
	z-index: 5;
	position: fixed;
	box-shadow: 0 0 9px -3px #000;
	background-color: var(--background-2);
}

body[data-panel="home"] header,
body[data-panel="settings"] header {
	position: fixed;
}

.header-title {
	display: flex;
	align-items: center;
}

.header-title h2 {
	color: var(--nav);
}

.home-link {
	margin: 0 8px 0 0;
	height: 32px;
	fill: var(--nav);
}

.home-link svg {
	width: 32px;
	height: 32px;
	padding: 2px;
}

nav ul {
	display: flex;
	align-items: center;
}

nav li {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 0 16px;
	fill: var(--nav);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.home-link:hover svg{
	fill: var(--nav-hover);
}

nav li.dimmed svg {
	fill: var(--nav-faded);
}

nav li.dimmed:hover svg {
	fill: var(--nav-faded-hover);
}

nav li > *,
nav li svg {
	width: 24px;
	height: 24px;
}

nav li .btn-menu > .btn {
	background: none !important;
	padding: 0;
	box-shadow: none;
	fill: var(--nav);
}

nav li .btn-menu > .btn:hover {
	fill: var(--nav-hover);
}

main {
	padding-top: 68px;
	color: var(--text-1);
	fill: var(--text-1);
	transition: padding 0.3s;
}

.controls {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 12px;
	right: 16px;
	z-index: 1;
	pointer-events: none;
}

main > .controls {
	position: sticky;
	margin-right: 16px;
	right: 16px;
	top: 68px;
}

.controls > * {
	pointer-events: all;
}

.controls > *:not(:last-child) {
	margin-right: 8px;
}

.tree {
	margin-top: -36px;
	overflow-x: auto;
	padding: 4px 16px 50vh;
}

.popup-source {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 40vw;
	left: 100%;
	bottom: 0;
	z-index: 1;
	transition: transform 0.3s;
	border-radius: 6px 0 0 0;
}

.popup-source.shown {
	transform: translateX(-100%);
}

.source {
	width: 100%;
	height: 40vh;
	max-height: 50vh;
	padding: 12px;
	border: none;
	font-family: Consolas, monospace;
	font-size: 14px;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: auto;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4;
	outline: none;
	resize: none;
	position: static;
	background-color: var(--background-2);
	border-top-left-radius: 6px;
	color: var(--text-1);
	box-shadow: 0 0 7px -3px #000;
}

.popup-preview {
	position: fixed;
	display: flex;
	flex-direction: column;
	height: calc(100% - 56px);
	width: 40vw;
	left: 100%;
	bottom: 0;
	z-index: 1;
	background-color: var(--background-2);
	box-shadow: 0 0 7px -3px #000;
	transition: transform 0.3s;
}

main.has-preview {
	padding-right: 40vw;
}

.popup-preview.shown {
	transform: translateX(-100%);
}

.popup-preview canvas {
	width: 100%;
	background-color: var(--nav-faded);
	display: block;
	cursor: crosshair;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.btn {
	display: flex;
	align-items: center;
	border: none;
	height: 32px;
	border-radius: 6px;
	padding: 7px 11px;
	cursor: pointer;
	outline: none;
	font-size: 1rem;
	white-space: nowrap;
	background-color: var(--background-3);
	box-shadow: 0 1px 7px -2px #000;
	color: var(--text-2);
	fill: var(--text-2);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.btn.active {
	color: var(--accent-blue);
	fill: var(--accent-blue);
}

.btn:not(.btn-input):hover {
	background-color: var(--background-4);
}

.btn.no-pointer {
	pointer-events: none;
}

.btn svg:not(:last-child) {
	margin-right: 5px;
}

.btn-menu:not(.no-relative) {
	position: relative;
}

.btn-menu > .btn {
	height: 100%;
}

.btn-menu .btn-group {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 100%;
	margin-top: 8px;
}

.btn-group {
	border-radius: 6px;
	box-shadow: 0 0 7px -2px #000;
}

.btn-group .btn {
	box-shadow: none;
}

.btn-group .btn:not(:last-child) {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.btn-menu .result-list .btn:first-child,
.btn-group .btn:not(:first-child) {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.btn-input {
	cursor: initial;
	padding-right: 7px;
}

.btn-input input {
	background: var(--background-1);
	color: var(--text-1);
	font-size: 17px;
	border: none;
	padding: 0 3px;
	margin-left: 5px;
	width: 100px;
}

.btn-input.large-input {
	padding: 5px;
	padding-left: 11px;
}

.btn-input.large-input input {
	width: 100%;
	height: 100%;
}

.btn-menu .result-list {
	display: block;
	width: 380px;
	height: unset;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 240px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.popup-actions {
	display: flex;
	position: fixed;
	bottom: 8px;
	left: 100%;
	z-index: 5;
	padding: 0 8px;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	background-color: var(--background-3);
	box-shadow: 0 0 7px -3px #000;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	transform: translateX(var(--offset));
	transition: padding 0.1s, transform 0.3s;
}

.popup-actions:hover {
	background-color: var(--background-4);
}

.popup-action {
	padding: 12px;
	fill: var(--text-2);
	cursor: pointer;
}

.popup-action:not(.shown) {
	pointer-events: none;
	order: 1;
	visibility: hidden;
}

.popup-action > svg {
	display: block;
	width: 24px;
	height: 24px;
}

.popup-action.action-preview {
	fill: var(--accent-blue);
}

.error {
	padding: 5px 14px;
	margin: 12px 16px;
	color: var(--text-1);
	background-color: var(--errors-background);
	border-radius: 3px;
}

.error > * {
	margin: 10px 0;
}

.error a {
	color: var(--text-1)
}

.home {
	padding: 16px;
}

.generator-picker {
	display: flex;
}

.home.center {
	flex-direction: column;
	align-items: center;
	color: var(--nav);
}

.home.center p {
	padding-bottom: 20px;
	text-align: center;
	font-size: 20px;
}

.generators-list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.generators-list:not(:last-child) {
	margin-right: 20px
}

.generators-card {
	margin-bottom: 10px;
	padding: 8px 15px;
	cursor: pointer;
	text-decoration: none;
	text-transform: capitalize;
	border-radius: 3px;
	background-color: var(--nav-faded);
	color: var(--text-1);
	fill: var(--text-1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	transition: margin 0.2s;
}

.generators-card * {
	pointer-events: none;
}

.generators-card:hover,
.generators-card.selected {
	background-color: var(--nav-faded-hover);
	margin-left: 8px;
	margin-right: -8px;
}

.generators-card svg {
	margin-left: 10px;
}

.settings {
	padding: 20px;
}

.settings p {
	color: var(--nav);
	padding: 8px;
	border-bottom: 2px solid var(--background-3);
}

.field-list {
	width: 100%;
	border-collapse: collapse;
	list-style-type: none;
}

.field-list li {
	display: flex;
	justify-content: space-between;
	padding: 4px 0;
	border-bottom: 1px solid var(--background-3);
}

.field-prop {
	display: inline-flex;
	align-items: center;
	max-width: 100%;
	margin: 4px;
}

.field-prop > label,
.field-prop > input {
	height: 34px;
	color: var(--text-1);
	margin-right: -1px;
	border: 1px solid;
	border-color: var(--nav-faded-hover);
}

.field-prop label {
	padding: 0 9px;
	line-height: 1.94rem;
	background-color: var(--node-background-label);
	white-space: nowrap;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.field-prop input {
	width: 100%;
	line-height: 1.6rem;
	background-color: var(--node-background-input);
	color: var(--text-1);
	padding-left: 9px;
	font-size: 18px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.field-prop svg {
	padding: 4px;
	margin: 0 4px;
	height: 28px;
	width: 28px;
	fill: var(--nav);
	cursor: pointer;
}

.field-prop .hidden svg {
	fill: #be4b2e;
}

.field-prop .dimmed svg {
	fill: var(--nav-faded);
}

.very-large {
	font-size: 80px;
	font-weight: 100;
}

[data-ea-publisher] {
	margin: 0 16px 8px;
}

.ea-content {
	margin: 0 !important;
	background: var(--background-2) !important;
}

.ea-content span {
	color: var(--text-2) !important;
}

.ea-content strong {
	color: var(--accent-blue) !important;
}

.ea-callout {
	margin: 0.25rem 0 !important;
	padding: 0 !important;
}

.ea-callout a {
	color: var(--text-3) !important;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 1300px) {
	main.has-preview .tree {
		margin-top: 8px;
	}
}

@media screen and (max-width: 800px) {
	main .tree {
		margin-top: 4px !important;
	}
}

/* SMALL */
@media screen and (max-width: 580px) {
	.header-title h2 {
		font-size: 22px;
	}

	body nav li {
		margin: 0 8px;
	}

	main.has-preview {
		padding-right: 0;
	}

	main .controls {
		top: 64px
	}

	.tree {
		padding-left: 8px;
		padding-right: 8px;
	}

	.popup-source {
		width: 100vw;
	}

	.source {
		border-radius: 0;
	}

	.popup-preview {
		width: 100vw;
		height: unset;
		bottom: 0;
		background-color: transparent;
		box-shadow: none;
	}

	.popup-preview canvas {
		margin-top: 8px;
	}

	.btn.btn.large-input,
	.btn-menu .result-list {
		width: calc(100vw - 10px); 
	}

	.generator-picker {
		justify-content: center;
	}

	.field-list li {
		flex-direction: column;
	}

	.field-prop {
		width: 100%;
	}

	.field-prop input {
		width: 100%;
	}
}
