:root {
	--background-1: #1b1b1b;
	--background-2: #252525;
	--background-3: #222222;
	--background-4: #3d3d3d;
	--background-5: #383838;
	--background-6: #575757;
	--text-1: #ffffff;
	--text-2: #dcdcdc;
	--text-3: #c3c3c3;
	--accent-primary: #50baf9;
	--accent-success: #3eb84f;
	--accent-sounds-1: #451475;
	--accent-sounds-2: #39155e;
	--accent-sounds-3: #6a08a3;
	--accent-sounds-4: #d1a5e6;
	--nav: #91908f;
	--nav-hover: #b4b3b0;
	--nav-faded: #4d4c4c;
	--nav-faded-hover: #6e6e6e;
	--selection: #6786dd99;
	--errors-background: #62190f;
	--errors-text: #ffffffcc;
  --invalid-text: #fd7951;
}

:root[data-theme=light] {
	--background-1: #fafafa;
	--background-2: #e2e2e2;
	--background-3: #d4d3d3;
	--background-4: #b8b8b8;
	--background-5: #bdbdbd;
	--background-6: #cecece;
	--text-1: #000000;
	--text-2: #2f2f2f;
	--text-3: #494949;
	--accent-primary: #088cdb;
	--accent-success: #1a7f37;
	--accent-sounds-1: #b481e7;
	--accent-sounds-2: #c18df5;
	--accent-sounds-3: #af72d3;
	--accent-sounds-4: #efd3fd;
	--nav: #343a40;
	--nav-hover: #565d64;
	--nav-faded: #9fa2a7;
	--nav-faded-hover: #bcbfc3;
	--selection: #6786dd99;
	--errors-background: #f66653;
	--errors-text: #000000cc;
  --invalid-text: #a32600;
}

@media (prefers-color-scheme: light) {
	:root[data-theme=system] {
		--background-1: #fafafa;
		--background-2: #e2e2e2;
		--background-3: #d4d3d3;
		--background-4: #b8b8b8;
		--background-5: #bdbdbd;
		--background-6: #cecece;
		--text-1: #000000;
		--text-2: #2f2f2f;
		--text-3: #494949;
		--accent-primary: #088cdb;
		--accent-success: #1a7f37;
		--accent-sounds-1: #b481e7;
		--accent-sounds-2: #c18df5;
		--accent-sounds-3: #af72d3;
		--accent-sounds-4: #efd3fd;
		--nav: #343a40;
		--nav-hover: #565d64;
		--nav-faded: #9fa2a7;
		--nav-faded-hover: #bcbfc3;
		--selection: #6786dd99;
		--errors-background: #f66653;
		--errors-text: #000000cc;
		--invalid-text: #a32600;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::selection {
	background-color: var(--selection);
}

a svg {
	pointer-events: none;
}

body {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--background-1);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: 100%;
	height: 56px;
	z-index: 5;
	position: fixed;
	box-shadow: 0 0 9px -3px #000;
	background-color: var(--background-2);
}

body[data-panel="home"] header,
body[data-panel="settings"] header {
	position: fixed;
}

.title {
	display: flex;
	align-items: center;
}

.title h2 {
	color: var(--nav);
}

.home-link {
	margin: 0 8px 0 0;
}

.home-link svg {
	display: block;
	width: 32px;
	height: 32px;
	padding: 2px;
}

.home-link svg rect:nth-child(2n) {
	transition: transform 0.2s;
}

.home-link:hover rect:nth-child(2) {
	transform: translateX(-8px);
}

.home-link:hover rect:nth-child(4) {
	transform: translateX(-11px);
}

.home-link:hover rect:nth-child(6) {
	transform: translateX(-6px);
}

nav ul {
	display: flex;
	align-items: center;
}

nav li {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 0 16px;
	fill: var(--nav);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.home-link:hover svg{
	fill: var(--nav-hover);
}

nav li.dimmed svg {
	fill: var(--nav-faded);
}

nav li.dimmed:hover svg {
	fill: var(--nav-faded-hover);
}

nav li > *,
nav li svg {
	width: 24px;
	height: 24px;
}

.title .btn-menu {
	margin: 0 8px;
}

.title .btn-menu > .btn svg {
	width: 24px;
	height: 24px;
}

header .btn-menu > .btn {
	background: none !important;
	padding: 0;
	box-shadow: none;
	fill: var(--nav);
}

header .btn-menu > .btn:hover {
	fill: var(--nav-hover);
}

main {
	padding-top: 68px;
	color: var(--text-1);
	fill: var(--text-1);
	transition: padding 0.3s;
}

.controls {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 12px;
	right: 16px;
	left: 16px;
	z-index: 1;
	pointer-events: none;
}

main > .controls {
	position: sticky;
	margin-right: 16px;
	margin-left: 16px;
	top: 68px;
}

.controls > * {
	pointer-events: all;
}

.controls > *:not(:last-child) {
	margin-right: 8px;
}

.tree {
	margin-top: -36px;
	overflow-x: auto;
	padding: 4px 16px 50vh;
}

.error + .tree {
	margin-top: 0;
}

.popup-source {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 40vw;
	left: 100%;
	bottom: 0;
	z-index: 1;
	transition: transform 0.3s;
	border-radius: 6px 0 0 0;
}

.popup-source.shown {
	transform: translateX(-100%);
}

.source {
	width: 100%;
	height: 40vh;
	max-height: 50vh;
	padding: 12px;
	border: none;
	font-family: Consolas, monospace;
	font-size: 14px;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: auto;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4;
	outline: none;
	resize: none;
	position: static;
	background-color: var(--background-2);
	border-top-left-radius: 6px;
	color: var(--text-1);
	box-shadow: 0 0 7px -3px #000;
}

.popup-preview {
	position: fixed;
	display: flex;
	flex-direction: column;
	height: calc(100% - 56px);
	width: 40vw;
	left: 100%;
	bottom: 0;
	z-index: 1;
	background-color: var(--background-2);
	box-shadow: 0 0 7px -3px #000;
	transition: transform 0.3s;
}

main.has-preview {
	padding-right: 40vw;
}

.popup-preview.shown {
	transform: translateX(-100%);
}

.popup-preview canvas {
	width: 100%;
	background-color: var(--nav-faded);
	display: block;
	cursor: crosshair;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.btn {
	display: flex;
	align-items: center;
	border: none;
	height: 32px;
	border-radius: 6px;
	padding: 7px 11px;
	cursor: pointer;
	outline: none;
	font-size: 1rem;
	white-space: nowrap;
	background-color: var(--background-4);
	box-shadow: 0 1px 7px -2px #000;
	color: var(--text-2);
	fill: var(--text-2);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.btn.active {
	color: var(--accent-primary);
	fill: var(--accent-primary);
}

.btn:not(.btn-input):hover {
	background-color: var(--background-5);
}

.btn.no-pointer {
	pointer-events: none;
}

.btn svg:not(:last-child) {
	margin-right: 5px;
}

.btn-menu:not(.no-relative) {
	position: relative;
}

.btn-menu > .btn {
	height: 100%;
}

.btn-menu .btn-group {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 100%;
	margin-top: 8px;
}

.btn-group {
	border-radius: 6px;
	box-shadow: 0 0 7px -2px #000;
}

.btn-group .btn {
	box-shadow: none;
}

.btn-group .btn:not(:last-child) {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.btn-menu .result-list .btn:first-child,
.btn-group .btn:not(:first-child) {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.btn-input {
	cursor: initial;
	padding-right: 7px;
}

.btn-input input {
	background: var(--background-1);
	color: var(--text-1);
	font-size: 17px;
	border: none;
	padding: 0 3px;
	margin-left: 5px;
	width: 100px;
}

.btn-input.large-input {
	padding: 5px;
	padding-left: 11px;
}

.btn-input.large-input input {
	width: 100%;
	height: 100%;
}

.btn-menu .result-list {
	display: block;
	width: 380px;
	height: unset;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 240px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.popup-actions {
	display: flex;
	position: fixed;
	bottom: 8px;
	left: 100%;
	z-index: 5;
	padding-right: 16px;
	background-color: var(--background-4);
	box-shadow: 0 0 7px -3px #000;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	transform: translateX(var(--offset));
	transition: padding 0.1s, transform 0.3s;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
}

.popup-action {
	padding: 12px;
	fill: var(--text-3);
	cursor: pointer;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	padding-left: 16px;
}

.popup-action.shown ~ .popup-action {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 12px;
}

.popup-action:not(.shown) {
	pointer-events: none;
	order: 1;
	visibility: hidden;
}

.popup-action > svg {
	display: block;
	width: 24px;
	height: 24px;
}

.popup-action:hover {
	background-color: var(--background-5);
}

.popup-action.action-preview {
	fill: var(--accent-primary);
}

.popup-action.action-copy.active {
	fill: var(--accent-success);
}

.tooltipped {
	position: relative;
}

.tooltipped::after {
	content: attr(aria-label);
	position: absolute;
	z-index: 100;
	padding: 3px 7px;
	display: none;
	white-space: pre;
	pointer-events: none;
	background-color: var(--background-6);
	color: var(--text-1);
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
	opacity: 0;
}

.tooltipped.tip-nw::after,
.tooltipped.tip-ne::after {
	bottom: 100%;
	margin-bottom: 6px;
}

.tooltipped.tip-se::after,
.tooltipped.tip-s::after,
.tooltipped.tip-sw::after {
	top: 100%;
	margin-top: 6px;
}

.tooltipped.tip-ne::after
.tooltipped.tip-se::after {
	left: 50%;
	margin-left: -16px;
}

.tooltipped.tip-nw::after,
.tooltipped.tip-sw::after {
	right: 50%;
	margin-right: -16px;
}

.tooltipped.tip-ne::before,
.tooltipped.tip-n::before,
.tooltipped.tip-nw::before {
	bottom: auto;
  top: -7px;
	border-top-color: var(--background-6);
}

.tooltipped.tip-se::before,
.tooltipped.tip-s::before,
.tooltipped.tip-sw::before {
	top: auto;
  bottom: -7px;
	border-bottom-color: var(--background-6);
}

.tooltipped.tip-s::after,
.tooltipped.tip-n::after,
.tooltipped.tip-s::before,
.tooltipped.tip-n::before {
	left: var(--x, 50%);
	transform: translate(-50%, 8px);
}

.tooltipped::before {
	content: '';
	position: absolute;
	z-index: 101;
	display: none;
  right: 50%;
	width: 0;
	height: 0;
  margin-right: -8px;
	pointer-events: none;
	border: 8px solid transparent;
	opacity: 0;
}

.tooltipped:not([disabled]):hover::before,
.tooltipped:not([disabled]):hover::after {
	display: inline-block;
	animation: tooltip-appear 0.1s ease-in 0.4s forwards;
}

.tooltipped:not([disabled]):hover::after {
	box-shadow: 0 1px 3px 0 #0007;
}

@keyframes tooltip-appear {
	from { opacity: 0; }
	to { opacity: 1; }
}

.error {
	padding: 5px 14px;
	margin: 12px 16px;
	color: var(--text-1);
	background-color: var(--errors-background);
	border-radius: 3px;
}

.error > * {
	margin: 10px 0;
}

.error .error-dismiss {
	float: right;
	cursor: pointer;
	margin-left: 10px;
}

.error-dismiss svg {
	display: block;
	width: 24px;
	height: 24px;
}

.error a {
	color: var(--text-1)
}

.home {
	padding: 16px;
}

.generator-picker {
	display: flex;
}

.home.center {
	flex-direction: column;
	align-items: center;
	color: var(--nav);
}

.home.center p {
	padding-bottom: 20px;
	text-align: center;
	font-size: 20px;
}

.home {
	max-width: 960px;
	margin: 0 auto;
}

.tool-card {
	display: flex;
	padding: 10px;
	margin-bottom: 8px;
	color: var(--text-2);
	background-color: var(--background-2);
	box-shadow: 1px 1px 7px -3px #000;
	border-radius: 6px;
	text-decoration: none;
}

.tool-card:hover {
	background-color: var(--background-3);
}

.tool-card svg {
	width: 32px;
	height: 32px;
	flex-shrink: 0;
	margin-right: 8px;
}

.tool-card h3 {
	font-weight: unset;
}

.tool-card p {
	color: var(--text-3);
}

hr {
	margin: 12px 0;
	border: none;
}

.settings {
	padding: 20px;
}

.settings p {
	color: var(--nav);
	padding: 8px;
	border-bottom: 2px solid var(--background-4);
}

.field-list {
	width: 100%;
	border-collapse: collapse;
	list-style-type: none;
}

.field-list li {
	display: flex;
	justify-content: space-between;
	padding: 4px 0;
	border-bottom: 1px solid var(--background-4);
}

.field-prop {
	display: inline-flex;
	align-items: center;
	max-width: 100%;
	margin: 4px;
}

.field-prop > label,
.field-prop > input {
	height: 34px;
	color: var(--text-1);
	margin-right: -1px;
	border: 1px solid;
	border-color: var(--nav-faded-hover);
}

.field-prop label {
	padding: 0 9px;
	line-height: 1.94rem;
	background-color: var(--node-background-label);
	white-space: nowrap;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.field-prop input {
	width: 100%;
	line-height: 1.6rem;
	background-color: var(--node-background-input);
	color: var(--text-1);
	padding-left: 9px;
	font-size: 18px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.field-prop svg {
	padding: 4px;
	margin: 0 4px;
	height: 28px;
	width: 28px;
	fill: var(--nav);
	cursor: pointer;
}

.field-prop .hidden svg {
	fill: #be4b2e;
}

.field-prop .dimmed svg {
	fill: var(--nav-faded);
}

.very-large {
	font-size: 80px;
	font-weight: 100;
}

[data-ea-publisher] {
	margin: 0 16px 8px;
}

.ea-content {
	margin: 0 !important;
	background: var(--background-2) !important;
}

.ea-content span {
	color: var(--text-2) !important;
}

.ea-content strong {
	color: var(--accent-primary) !important;
}

.ea-callout {
	margin: 0.25rem 0 !important;
	padding: 0 !important;
}

.ea-callout a {
	color: var(--text-3) !important;
}

.sounds {
	padding: 16px;
}

.sound-search-group {
	flex-basis: 350px;
	height: 32px;
	display: flex;
	border-radius: 6px;
	box-shadow: 0 1px 7px -2px #000;
}

.sound-search {
	flex-basis: 100%;
	padding: 8px;
	color: var(--text-1);
	background-color: var(--background-2);
	border: none;
	border-radius: 6px;
	font-size: 16px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0 !important;
	box-shadow: none;
}

.btn.add-sound {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: var(--accent-sounds-1);
	box-shadow: none;
}

.btn.add-sound:hover {
	background-color: var(--accent-sounds-2);
}

.spacer {
	margin-right: auto !important;
}

.sound-config {
  display: grid;
  grid-template-columns: min-content 2fr min-content min-content min-content 1fr min-content 1fr min-content min-content;
  align-items: center;
  gap: 12px 8px;
  padding: 10px;
  background-color: var(--background-2);
  border-radius: 5px;
}

.sound-config:not(:last-child) {
	margin-bottom: 8px;
}

.sound-config .btn {
	box-shadow: none;
}

.sound-config .sound {
	width: 100%;
}

.sound-config label {
	color: var(--text-2);
  white-space: nowrap;
}

.sound-config .delay {
  width: 50px;
  padding: 4px;
}

.sound-config input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.sound-config input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.sound-config input[type=range]:focus {
  outline: none;
}

.sound-config input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--text-3);
  cursor: pointer;
  margin-top: -5px;
}

.sound-config input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--text-3);
  cursor: pointer;
}

.sound-config input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--background-4);
  border-radius: 2px;
  border: none;
}

.sound-config input[type=range]:focus::-webkit-slider-runnable-track {
	background: var(--background-5);
}

.sound-config input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--background-4);
  border-radius: 2px;
  border: none;
}

.sound-config input[type=range]:focus::-moz-range-track {
	background: var(--background-5);
}

.sound-config .copy[data-command] {
  position: relative;
}

.sound-config .copy[data-command]::after {
  content: attr(data-command);
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 6px;
  padding: 8px 12px;
  background-color: var(--background-3);
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--background-1);
  cursor: initial;
}

.sound-config.invalid .play,
.sound-config.loading .play {
	cursor: initial;
}

.sound-config.playing {
  background-color: var(--background-3);
}

.sound-config.playing .play {
  background-image: linear-gradient(110deg, var(--accent-sounds-3), var(--accent-sounds-3) 45%, var(--accent-sounds-4) 47%, var(--accent-sounds-4) 53%, var(--accent-sounds-3) 55%);
  background-size: 300%;
  background-position: right;
  animation: playing 1s infinite;
}

@keyframes playing {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.sound-config.loading:not(.invalid) .play svg {
  animation: spinning 2s infinite linear;
}

.sound-config.invalid .sound {
  color: var(--invalid-text);
}

@media screen and (max-width: 720px) {
	.sound-search-group {
		margin-bottom: 8px;
		flex-basis: 100%;
		margin-right: 0 !important;
	}

	.sounds-controls {
		flex-wrap: wrap;
	}

  .sounds .btn {
    padding: 8px 10px;
  }

	.sounds .btn svg {
    margin-right: 0 !important;
  }

	.sounds .btn span {
		display: none;
	}

  .sound-config {
    grid-template-columns: min-content min-content 1fr min-content 1fr min-content;
    grid-template-areas:
      "play sound sound sound sound copy"
      "pitch-label pitch-label pitch volume-label volume remove";
  }
  .sound-config .play { grid-area: play; }
  .sound-config .sound { grid-area: sound; }
  .sound-config .delay-label { display: none; }
  .sound-config .delay { display: none; }
  .sound-config .pitch-label { grid-area: pitch-label; }
  .sound-config .pitch { grid-area: pitch; }
  .sound-config .volume-label { grid-area: volume-label; }
  .sound-config .volume { grid-area: volume; }
  .sound-config .copy { grid-area: copy; }
  .sound-config .remove { grid-area: remove; }
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 1300px) {
	main.has-preview .tree {
		margin-top: 8px;
	}
}

@media screen and (max-width: 800px) {
	main .tree {
		margin-top: 4px !important;
	}
}

/* SMALL */
@media screen and (max-width: 580px) {
	.title h2 {
		font-size: 18px;
	}

	body nav li {
		margin: 0 8px;
	}

	main.has-preview {
		padding-right: 0;
	}

	main .controls {
		top: 64px
	}

	.tree {
		padding-left: 8px;
		padding-right: 8px;
	}

	.popup-source {
		width: 100vw;
	}

	.source {
		border-radius: 0;
	}

	.popup-preview {
		width: 100vw;
		height: unset;
		bottom: 0;
		background-color: transparent;
		box-shadow: none;
	}

	.popup-preview canvas {
		margin-top: 8px;
	}

	.btn.btn.large-input,
	.btn-menu .result-list {
		width: calc(100vw - 10px); 
	}

	.generator-picker {
		justify-content: center;
	}
}
