
.tree > .object-node > .node-body {
  border-left: none;
  padding-left: 0;
}

.node {
  margin: 2px 0;
}

.node-body > .node:first-child {
  margin-top: 4px;
}

.list-node:last-child,
.map-node:last-child,
.object-node:last-child {
  margin-bottom: 0;
}

.list-node > .node-body,
.map-node > .node-body,
.object-node > .node-body {
  border-left: 3px solid;
}

.node-header > label,
.node-header > button {
  user-select: none;
}
.object-node > .node-header > label.collapse {
  cursor: pointer;
}

.node input,
.node select {
  font-size: 18px;
}

.node-header {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}

.node-header > * {
  height: 24px;
  border: 1px solid;
}

.node-header > button {
  cursor: pointer;
}

.node-header > input {
  padding-left: 4px;
}

.node-header > label,
.node-header > button {
  padding: 0 5px;
}

.node-header > *:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.node-header > *:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.node-header > *:not(:last-child) {
  margin-right: -1px;
}

.object-node > .node-header > *:first-child,
.map-node > .node-header > *:first-child,
.list-node > .node-header > *:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 0;
}

.node-header > label.collapse.closed {
  border-bottom-left-radius: 3px;
}

label.collapse::before {
  padding-right: 5px;
  position: relative;
  top: 3px;
}

label.collapse.closed::before,
button.add::after {
  content: url('./images/plus.svg')
}

label.collapse.open::before,
button.remove::before {
  content: url('./images/trash.svg');
}

.node-body {
  display: flex;
  flex-direction: column;
  padding-left: 0.7rem;
}

.node-entry {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

/* COLORS */

.node-header > * {
  border-color: #bcbfc3;
}

.node-header > label {
  background-color: #e4e4e4;
}

button.selected {
  background-color: #f0e65e;
  border-color: #b9a327
}

.node-header > label.collapse.closed,
button.add {
  border-color: #54911b;
  background-color: #add38a;
}

.node-header > label.collapse.open,
button.remove {
  border-color: #be4b2e;
  background-color: #e2917c;
}

.list-node > .node-body {
  border-color: #72a543;
}

.map-node > .node-body {
  border-color: #066fb4;
}

.object-node > .node-body {
  border-color: #b9b9b9;
}

/* DARK MODE */

body[data-style=dark] .node-header > * {
  border-color: #4e4e4e;
}

body[data-style=dark] .node-header > label {
  background-color: #1b1b1b;
  color: #dadada;
}

body[data-style=dark] .node-header > input,
body[data-style=dark] .node-header > select,
body[data-style=dark] .node-header > button {
  background-color: #272727;
  color: #dadada;
}

body[data-style=dark] button.selected {
  background-color: #726d28;
  border-color: #867e0e
}

body[data-style=dark] .node-header > label.collapse.closed,
body[data-style=dark] button.add {
  border-color: #3b6e0c;
  background-color: #688f40;
}

body[data-style=dark] .node-header > label.collapse.open,
body[data-style=dark] button.remove {
  border-color: #7e1d05;
  background-color: #ad472d;
}

.list-node > .node-body {
  border-color: #72a543;
}

body[data-style=dark] .map-node > .node-body {
  border-color: #4d99cc;
}

body[data-style=dark] .object-node > .node-body {
  border-color: #8a8a8a;
}
