
.tree > .object-node > .node-body {
  border-left: none;
  padding-left: 0;
}

.node {
  margin: 2px 0;
}

.node-body > .node:first-child {
  margin-top: 4px;
}

.node:last-child {
  margin-bottom: 0;
}

.list-node > .node-body,
.map-node > .node-body,
.object-node > .node-body {
  border-left: 3px solid;
}

.node-header > label,
.node-header > button {
  user-select: none;
}
.object-node > .node-header > label.collapse {
  cursor: pointer;
}

.node input,
.node select,
.node button {
  font-size: 18px;
}

.node-header {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}

.node-header > * {
  height: 34px;
  border: 1px solid;
}

.node-header > button {
  cursor: pointer;
}

.node-header > input,
.node-header > select {
  padding-left: 9px;
}

.node-header > label,
.node-header > button {
  padding: 0 9px;
  line-height: 1.94rem;
}

.node-header > *:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.node-header > *:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.node-header > *:not(:last-child) {
  margin-right: -1px;
}

.object-node > .node-header > *:first-child,
.map-node > .node-header > *:first-child,
.list-node > .node-header > *:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 0;
}

.node-header > label.collapse.closed {
  border-bottom-left-radius: 3px;
}

label.collapse::before,
button.remove::before {
  padding-right: 5px;
  position: relative;
  top: 3px;
}

button.remove::before,
button.add::after {
  display: inline-block;
  position: relative;
  top: 2px;
}

button.remove::before {
  padding-right: 5px;
}

.node-header > button.add:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

label.collapse.closed::before,
button.add::after {
  content: url('./images/plus.svg');
}

label.collapse.open::before,
button.remove::before {
  content: url('./images/trash.svg');
}

.node-body {
  display: flex;
  flex-direction: column;
  padding-left: 0.7rem;
}

.node-entry > .object-node > .node-body {
  padding-left: 0;
}

.node-entry > .object-node > .node-body > .node > .node-body {
  border-left: none;
}

.node-entry > .object-node > .node-body > .node.node-header > *:first-child,
.node-entry > .object-node > .node-body > .node > .node-header > *:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.node-entry {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

/* COLORS */

.node-header > * {
  border-color: #bcbfc3;
  transition: all var(--style-transition);
}

.node-header > label {
  background-color: #e4e4e4;
}

button.selected {
  background-color: #f0e65e;
  border-color: #b9a327
}

.node-header > label.collapse.closed,
button.add {
  border-color: #498d09;
  background-color: #9bd464;
}

.node-header > label.collapse.open,
button.remove {
  border-color: #be4b2e;
  background-color: #e76f51;
}

.node-body {
  border-color: #b9b9b9 !important;
  transition: border-color var(--style-transition);
}

[data-category=predicate] > .node-header > label,
[data-category=predicate] > .node-body > .node.node-header > *:first-child,
[data-category=predicate] > .node-body > .node > .node-header > *:first-child {
  background-color: #65b5b8 !important;
}

[data-category=predicate] > .node-body,
[data-category=predicate] > .node-header > label,
[data-category=predicate] > .node-body > .node.node-header > *:not(button),
[data-category=predicate] > .node-body > .node > .node-header > *:not(button) {
  border-color: #187e81 !important;
}

[data-category=function] > .node-body > .node.node-header > *:first-child,
[data-category=function] > .node-body > .node > .node-header > *:first-child {
  background-color: #979fa7 !important;
}

[data-category=function] > .node-body,
[data-category=function] > .node-body > .node.node-header > *:not(button),
[data-category=function] > .node-body > .node > .node-header > *:not(button) {
  border-color: #788086 !important;
}

/* DARK MODE */

body[data-style=dark] .node-header > * {
  border-color: #4e4e4e;
}

body[data-style=dark] .node-header > label {
  background-color: #1b1b1b;
  color: #dadada;
}

body[data-style=dark] .node-header > input,
body[data-style=dark] .node-header > select,
body[data-style=dark] .node-header > button {
  background-color: #272727;
  color: #dadada;
}

body[data-style=dark] button.selected {
  background-color: #726d28;
  border-color: #867e0e
}

body[data-style=dark] .node-header > label.collapse.closed,
body[data-style=dark] button.add {
  border-color: #3b6e0c;
  background-color: #5a961e;
}

body[data-style=dark] .node-header > label.collapse.open,
body[data-style=dark] button.remove {
  border-color: #7e1d05;
  background-color: #b64023;
}

body[data-style=dark] .node-body {
  border-color: #454749 !important;
}

body[data-style=dark] [data-category=predicate] > .node-header > label,
body[data-style=dark] [data-category=predicate] > .node-header > label {
  background-color: #1e1f1f !important;
}

body[data-style=dark] [data-category=predicate] > .node-body > .node.node-header > *:first-child,
body[data-style=dark] [data-category=predicate] > .node-body > .node > .node-header > *:first-child {
  background-color: #306163 !important;
}

body[data-style=dark] [data-category=predicate] > .node-body,
body[data-style=dark] [data-category=predicate] > .node-body > .node.node-header > *:not(button),
body[data-style=dark] [data-category=predicate] > .node-body > .node > .node-header > *:not(button) {
  border-color: #224849 !important;
}

body[data-style=dark] [data-category=function] > .node-body > .node.node-header > *:first-child,
body[data-style=dark] [data-category=function] > .node-body > .node > .node-header > *:first-child {
  background-color: #838383 !important;
}

body[data-style=dark] [data-category=function] > .node-body,
body[data-style=dark] [data-category=function] > .node-body > .node.node-header > *:not(button),
body[data-style=dark] [data-category=function] > .node-body > .node > .node-header > *:not(button) {
  border-color: #6b6b6b !important;
}
